name: Build AppImage

on:
  push:

jobs:
  build-appimage:
    runs-on: ubuntu-22.04
    permissions:
        contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          build-essential \
          libsndfile1-dev \
          libfftw3-dev \
          libjack-jackd2-dev \
          libcairo2-dev \
          libx11-dev \
          libasound2-dev

    - name: Build project
      run: |
        make

    - name: Prepare AppDir structure
      run: |
        mkdir -p AppDir/usr/bin
        cp bin/* AppDir/usr/bin/
        cat > AppDir/loopino.desktop <<EOF
        [Desktop Entry]
        Name=Loopino
        Exec=loopino
        Icon=loopino
        Type=Application
        Categories=AudioVideo;
        EOF
        cp Loopino/loopino.svg AppDir/loopino.svg

    - name: Download linuxdeploy
      run: |
        wget https://github.com/linuxdeploy/linuxdeploy/releases/latest/download/linuxdeploy-x86_64.AppImage
        chmod +x linuxdeploy-x86_64.AppImage

    - name: Build AppImage
      env:
        APPIMAGE_EXTRACT_AND_RUN: 1
      run: |
        ./linuxdeploy-x86_64.AppImage \
          --appdir AppDir \
          --desktop-file AppDir/loopino.desktop \
          --icon-file AppDir/loopino.svg \
          --output appimage

    - name: Build AppImage
      env:
        APPIMAGE_EXTRACT_AND_RUN: 1
      run: |
        ./linuxdeploy-x86_64.AppImage \
          --appdir AppDir \
          --desktop-file AppDir/loopino.desktop \
          --icon-file AppDir/loopino.svg \
          --output appimage

    - name: Upload AppImage artifact
      uses: actions/upload-artifact@v4
      with:
        name: Loopino-x86_64.AppImage
        path: Loopino-*.AppImage
